@page "{id:int}"
@model YosemiteFishingRental.Pages.Files.DeleteModel

@{
    ViewData["Title"] = "Delete File";
}

<h2>Delete File</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>File</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.File.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.File.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.File.PublicFileSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.File.PublicFileSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.File.PrivateFileSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.File.PrivateFileSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.File.UploadDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.File.UploadDT)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="File.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
